.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chat{
  border-right: 1px solid #000;
  margin-right: -10px;
}
.chat-box{
height: auto;
}
.messageText{
  background: #ddd;

  padding: 5px;
}
.cluseBtn{
  background: black;
  padding: 5px;
  width: 32px;
  color: #fff;
}
.messages{
  float: 0 0 100%;
  display: flex;
  flex-direction: column;
  height: 50vh;
}
.messages .message{
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #f1f0f0;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  align-items: flex-start;
}
.messages .message.self{
  background: #0099ff;
  color: #fff;
  align-items: flex-end;
}